<div class="container">

  <div class="starter-template">
    <h1>Wait, What?</h1>
    <p class="lead">Yes, you do need to wait before you can eat. There is no other way!</p>
    <a href="/#/register" class="btn btn-primary btn-lg" role="button">If you press this, small animal in Africa will die!</a>
  </div>

	<div class="row">
	  <div class="col-md-4">
	  	<h2>First Column</h2>
	  	<p>What is this?</p>
	  </div>
	  <div class="col-md-4">
	  	<h2>Second Column</h2>
	  	<p>What is that?</p>
	  </div>
	  <div class="col-md-4">
	  	<h2>Thirds Column</h2>
	  	<p>What is all of this?</p>
	  </div>
	</div>

</div>